* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
}

nav {
  height: 165px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 160px;
}

.logo img {
  filter: drop-shadow(5px 4px 5px rgba(0, 0, 0, 0.25));
}

.logo p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  margin-top: 20px;
  color: #000f95;
}

.navbar {
  width: 457px;
  height: 76px;
}

.nav_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 11px;
}

.adress,
.post {
  max-width: 260px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.adress {
  margin-left: 10px;
}

.post {
  margin-left: 37px;
}

.adress img {
  margin-right: 5px;
}

.adress_text {
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
  position: relative;
}

.post_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #000000;
}

.nav_links {
  width: 457px;
  height: 76px;
  background: #d1dbe3;
  box-shadow: 6px 24px 30px -14px rgba(0, 0, 0, 0.25);
  border-radius: 204px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 11px;
}

.nav_links a {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  transition: 0.2s all ease-in;
}

.nav_links a:hover {
  color: #2f3996;
}

.header {
  height: 830px;
  background-image: url("/About/image/header_bg.png");
  width: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 45px;
  position: relative;
}

.about_us {
  position: absolute;
  height: 160px;
  width: 1000px;
  background-color: #fff;
  bottom: 90px;
  border-radius: 30px;
  left: -30px;
  padding-left: 50px;
}

.about_us h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: left;
  margin-top: 24px;
}

.about_us h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  width: 918px;
  margin-top: 11px;
}

.data p {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.environment {
  margin-top: 100px;
}

.environment h2,
.activities h2,
.teachers h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.activities {
  margin-top: 92px;
}

.activities h2 {
  margin-top: 37px;
  line-height: 24px;
}

.activites_blog {
  width: 1243px;
  margin-top: 134px;
  display: flex;
  justify-content: space-between;
}

.activites_blog img {
  transition: all 0.5s;
}

.activites_blog img:hover {
  transition: all 0.5s;
  transform: scale(1.2);
}

.teachers {
  margin-top: 98px;
  margin-bottom: 200px;
}

.teachers h2 {
  margin-top: 45px;
}

.teachers h2 span {
  font-weight: 700;
}

footer {
  margin-top: 100px;
  height: 396px;
  background-color: #a0cadc;
  position: relative;
}

footer img {
  position: absolute;
}

.footer_links {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 820px;
  padding-top: 3%;
}

.links {
  margin-top: 50px;
}

.links h1 {
  font-size: 24px;
  line-height: 29px;
}

.links h2 {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  max-width: 438px;
  margin-top: 18px;
}
